//Colors
$darkBlue: hsl(209, 23%, 22%); //DARK MODE ELEMENTS
$veryDarkBlueBackground: hsl(207, 26%, 17%); //DARK MODE BACKGROUND
$veryDarkBlue: hsl(200, 15%, 8%); // LIGHT MODE TEXT
$darkGray: hsl(0, 0%, 52%); // LIGHT MODE INPUT
$veryLightGray: hsl(0, 0%, 98%); //LIGHT MODE BACKGROUND
$white: hsl(0, 0%, 100%); //DARK MODE TEXT & LIGHT MODE ELEMENTS